/*.~ export-ignore
/*~ export-ignore
/.git export-ignore
/.git/* export-ignore
/.github export-ignore
/.venv export-ignore
/.github/* export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.versionrc export-ignore
/cache export-ignore
/versionbump export-ignore
