/*.~ export-ignore
/*~ export-ignore
/.git export-ignore
/.git/* export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.github/* export-ignore
/.gitignore export-ignore
/.venv export-ignore
/cache export-ignore
/sendbuildinstruction.sh
/server.conf
