[Unit]
Description=Docserv
After=multi-user.target

[Service]
Type=idle
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/bin/docserv $SCRIPT_ARGS
EnvironmentFile=/etc/docserv/environment
User=docserv

[Install]
WantedBy=multi-user.target
