[Unit]
Description=Docserv
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/sbin/docserv.py
EnvironmentFile=/etc/docserv/environment
User=docserv

[Install]
WantedBy=multi-user.target
