[Unit]
Description=Docserv
After=multi-user.target

[Service]
Type=idle
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/bin/docserv $SCRIPT_ARGS

[Install]
WantedBy=multi-user.target
