[Unit]
Description=Docserv2 with %I.ini
After=multi-user.target
Requires=docker.service
ConditionPathExists=/etc/docserv/%I.ini

[Service]
Type=idle
ExecStart=/usr/bin/docserv %I
User=docserv

[Install]
WantedBy=multi-user.target
