<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>SUSE Documentation</title>
    <link rel="stylesheet" href="res/style.css">
    <link rel="search" type="application/opensearchdescription+xml" title="SUSE DocServ" href="http://docserv.nue.suse.com/docsearch.xml"/>
    <script src="jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <nav class="tabwrap">
      <div class="tabs">
        <a href="/" class="active">This</a>
        <a href="/documents">Is</a>
        <a href="/release-notes">Docserv²</a>
        <a href="https://wiki.microfocus.net/index.php/SUSE/Documentation">Yo</a>
        <a href="#"></a>
      </div>
    </nav>

<!--#include docserv_content-->

  </body>
</html>
