<!DOCTYPE html>
<html>
  <head>
    <title>Docset template</title>
    <script>
var basePath = '@{{#base_path#}}';
var templateExtension = '@{{#template_extension#}}';
var pageRole = 'product';
var pageLanguage = '@{{#ui_language#}}';
var omitPathComponent = '@{{#omit_path_component#}}';
var pageProduct = '@{{#product#}}';
var pageDocSet = '@{{#docset#}}';
    </script>
    <script src="@{{base_path}}docserv/res/docservui.js"></script>
  </head>
  <body>
    <div id="docsetwrap" class="ds-page-wrap">
    </div>
  </body>
</html>
